@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #ddd;
}
h1{
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
}
p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
div#app-wrapper{
    width:330px;
    box-sizing: border-box;
    margin: 0 auto;
}
div.input-div{
    background-color: #fff;
    padding: 8px 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div#security{
    height: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.3s;
    width: 0%;
}
input[type="text"]{
    background-color: transparent;
    border: none;
    outline:none;
    width:81%;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
p#security-state{
    font-size: 17px;
}
div#settings-wrapper{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0px;
}
input[type="range"]{
    width:160px;
    appearance: none;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
}
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #666;
    border-radius: 20px;
    cursor: grab;
}
div.checkbox-wrapper{
    display: flex;
    align-items: center;
    padding: 4px;
}
input[type="checkbox"]{
    margin-right: 5px;
    appearance: none;
    width: 23px;
    height: 23px;
    background-color: #aaa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 4px;
}
input[type="checkbox"]::after{
    content: url('imgs/checkmark-16.png');
    opacity: 0;
    transition: 0.5s;
}
input[type="checkbox"]:checked::after{
    opacity: 1;
}
input[type="checkbox"]:checked{
    background-color: rgb(18, 182, 21);
}
button{
    border: none;
    outline:none;
    background-color: blueviolet;
    color:white;
    padding: 5px;
    border-radius: 2px;
    display:block;
    margin: 0 auto;
}
img{
    width: 20px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
    padding: 5px;
}
img:hover{
    background-color: #ddd;
}
